In [3]:
import pandas as pd

df = pd.read_csv("top_250_enriched.csv")
print(df.columns)
print(df.dtypes)
print(df.isna().sum())
print(df.head(3))

Index(['IMDb_ID', 'Title', 'Year', 'Rated', 'Released', 'Runtime_Minutes',
       'Genre', 'Director', 'Top_Cast', 'BoxOffice', 'IMDb_Rating',
       'IMDb_Votes'],
      dtype='object')
IMDb_ID             object
Title               object
Year                 int64
Rated               object
Released            object
Runtime_Minutes      int64
Genre               object
Director            object
Top_Cast            object
BoxOffice          float64
IMDb_Rating        float64
IMDb_Votes           int64
dtype: object
IMDb_ID             0
Title               0
Year                0
Rated               3
Released            0
Runtime_Minutes     0
Genre               0
Director            0
Top_Cast            0
BoxOffice          29
IMDb_Rating         0
IMDb_Votes          0
dtype: int64
     IMDb_ID                     Title  Year  Rated     Released  \
0  tt0111161  The Shawshank Redemption  1994      R  14 Oct 1994
1  tt0068646             The Godfather  1972      R  24 Mar 1972
2  tt0468569           The Dark Knight  2008  PG-13  18 Jul 2008

   Runtime_Minutes                 Genre              Director  \
0              142                 Drama        Frank Darabont
1              175          Crime, Drama  Francis Ford Coppola
2              152  Action, Crime, Drama     Christopher Nolan

                                      Top_Cast    BoxOffice  IMDb_Rating  \
0      Tim Robbins, Morgan Freeman, Bob Gunton   28767189.0          9.3
1         Marlon Brando, Al Pacino, James Caan  136381073.0          9.2
2  Christian Bale, Heath Ledger, Aaron Eckhart  534987076.0          9.0

   IMDb_Votes
0     3075711
1     2142249
2     3044547

In [3]:
import pandas as pd

df = pd.read_csv("top_250_enriched.csv")

df["BoxOffice_Million"] = df["BoxOffice"] / 1_000_000

In [4]:
def format_box_office(x):
    if pd.isna(x):
        return "N/A"
    if x >= 1_000_000_000:
        return f"${x/1_000_000_000:.1f}B"
    elif x >= 1_000_000:
        return f"${x/1_000_000:.1f}M"
    elif x >= 1_000:
        return f"${x/1_000:.1f}K"
    else:
        return f"${x:.0f}"

df["BoxOffice_Label"] = df["BoxOffice"].apply(format_box_office)

In [6]:
df["BoxOffice_Missing"] = df["BoxOffice"].isna()

In [7]:
df[["Title", "BoxOffice", "BoxOffice_Million", "BoxOffice_Label", "BoxOffice_Missing"]].head(10)

,Title,BoxOffice,BoxOffice_Million,BoxOffice_Label,BoxOffice_Missing
0,The Shawshank Redemption,28767189.0,28.767189,$28.8M,False
1,The Godfather,136381073.0,136.381073,$136.4M,False
2,The Dark Knight,534987076.0,534.987076,$535.0M,False
3,The Godfather Part II,47834595.0,47.834595,$47.8M,False
4,12 Angry Men,NaN,NaN,N/A,True
5,The Lord of the Rings: The Return of the King,381878219.0,381.878219,$381.9M,False
6,Schindler's List,96898818.0,96.898818,$96.9M,False
7,Pulp Fiction,107928762.0,107.928762,$107.9M,False
8,The Lord of the Rings: The Fellowship of the Ring,319372078.0,319.372078,$319.4M,False
9,"The Good, the Bad and the Ugly",25100000.0,25.100000,$25.1M,False

In [8]:
df

,IMDb_ID,Title,Year,Rated,Released,Runtime_Minutes,Genre,Director,Top_Cast,BoxOffice,IMDb_Rating,IMDb_Votes,BoxOffice_Million,BoxOffice_Label,BoxOffice_Missing
0,tt0111161,The Shawshank Redemption,1994,R,14 Oct 1994,142,Drama,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",28767189.0,9.3,3075711,28.767189,$28.8M,False
1,tt0068646,The Godfather,1972,R,24 Mar 1972,175,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan",136381073.0,9.2,2142249,136.381073,$136.4M,False
2,tt0468569,The Dark Knight,2008,PG-13,18 Jul 2008,152,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",534987076.0,9.0,3044547,534.987076,$535.0M,False
3,tt0071562,The Godfather Part II,1974,R,18 Dec 1974,202,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall",47834595.0,9.0,1441140,47.834595,$47.8M,False
4,tt0050083,12 Angry Men,1957,Approved,10 Apr 1957,96,"Crime, Drama",Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam",NaN,9.0,937244,NaN,N/A,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,tt0107048,Groundhog Day,1993,PG,12 Feb 1993,101,"Comedy, Drama, Fantasy",Harold Ramis,"Bill Murray, Andie MacDowell, Chris Elliott",71107962.0,8.0,721328,71.107962,$71.1M,False
246,tt1454029,The Help,2011,PG-13,10 Aug 2011,146,Drama,Tate Taylor,"Viola Davis, Emma Stone, Octavia Spencer",169708112.0,8.1,516093,169.708112,$169.7M,False
247,tt11032374,Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,2020,TV-MA,23 Apr 2021,117,"Animation, Action, Adventure",Haruo Sotozaki,"Natsuki Hanae, Akari Kitô, Yoshitsugu Matsuoka",49888550.0,8.2,86907,49.888550,$49.9M,False
248,tt4430212,Drishyam,2015,Not Rated,31 Jul 2015,163,"Crime, Drama, Mystery",Nishikant Kamat,"Ajay Devgn, Shriya Saran, Tabu",NaN,8.2,100740,NaN,N/A,True
249,tt1954470,Gangs of Wasseypur,2012,Not Rated,22 Jun 2012,321,"Action, Comedy, Crime",Anurag Kashyap,"Manoj Bajpayee, Nawazuddin Siddiqui, Tigmanshu...",NaN,8.2,106403,NaN,N/A,True

In [9]:
df.to_csv("top_250_final.csv", index=False)
print("✅ Saved cleaned dataset to top_250_final.csv")

✅ Saved cleaned dataset to top_250_final.csv